.todo-list {
    display: flex;
    flex-direction: column;
    
    .todo-item {
        margin-bottom: 10px;
        color: gray;
        display: inline-block;
        
        button {
            cursor: pointer;
            margin-left: 10px;
        }
    }
}